@model List<Neo4j.Artist>
<h1 class="page-header">Following</h1>
<div class="row">
    @{
        foreach (var artist in Model)
        {
            <div class="col-sm-3 keeper">
                <div class="box">
                    @artist.Name
                    <img class="img-circle img" src="~/Images/test.jpg" />
                </div>
            </div>
        }
    }
</div>

