<h1 class="page-header">Following</h1>
<div class="row">
    @{
        for (int i = 0; i < 10; i++)
        {
            <div class="col-sm-3 keeper">
                <div class="box">
                    <img class="img-circle img" src="~/Images/test.jpg" />
                </div>
            </div>
        }
    }
</div>

<h1 class="page-header">Followers</h1>
<div class="row">
    @{
        for (int i = 0; i < 1; i++)
        {
            <div class="col-sm-3 keeper">
                <div class="box">
                    <img class="img-circle img" src="~/Images/test2.jpg" />
                </div>
            </div>
        }
    }
</div>

