@using Neo4j.Interfaces
@model List<ILikeable>
@{
    ViewBag.Title = "Likes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Likes</h2>

@foreach (ILikeable item in Model)
{
    <div class="col-sm-4 keeper">
        <a href="#">
            <div class="playlist">
                <div class="box">
                    <h5>@item.Title</h5>
                    <img class="img-circle img" src="~/Images/test.jpg" />
                </div>
            </div>
        </a>
    </div>
}

