@using Neo4j.Interfaces
@model List<ILikeable>

<h2 class="page-header">Likes</h2>

<h3>Likes</h3>
<div id="rectangle">
    <img src="~/Images/musicComposition.png" class="img-rounded" alt="MusicNote">
</div>
