   
<h2 class="page-header">Playlist</h2>


<div class="row">
    @{
        for (int i = 0; i < 4; i++)
        {
            <div class="col-sm-3 keeper">
                <div class="box">
                    <img class="img-circle img" src="~/Images/test.jpg" />
                </div>
            </div>
        }
    }
</div>


