@using Neo4j
@model List<Song>
@{
    ViewBag.Title = "Song";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src=@Url.Content("~/Scripts/song.js")></script>


<div id="songWave"></div>
<div class="wrapper">
    <div id="muteUnmute" onclick="muteSound()">Mute</div>
    <div><input id="volumeSlider" type="range" min="0" max="1" value=".5" step=".01" onchange="volumeChanged(this.value)" /></div>
    <div onclick="rewind()">Rewind</div>
    <div onclick="fastForward()">Fast Forward</div>
    <div id="playPause" onclick="togglePlay()">Pause</div>
    <div onclick="speedUp()">Speed Up</div>
    <div onclick="slowDown()">Slow Down</div>
    <div onclick="restart()">Restart</div>
</div>
<br />

@{
    foreach (var item in Model)
    {
        if (item.Title == ViewBag.id)
        {
            Song song = item;

    <p id="SONGSongName">@song.Title</p>
            <div id="SONGSongDiv">

               <img class="img-circle" src="~/Content/Images/@(item.Owner.ProfilePicture)" width="200" height="200"/>

                <p id="SONGOwnerName">
                    @song.Owner.Name
                    <i class="fa fa-user" aria-hidden="true"></i>
                </p>
            </div>

                <p id="hiddenSong" hidden>@song.SongFileName</p>
        }
    }
}

