@using Neo4j
@model Artist

@*@{
   
   // var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }

   // <img src = "@imgSrc" />*@

@{ 
    foreach (var item in Model.Songs)
    {
       
        <img src="~/Content/Images/@item.ImageFileName" alt="AltPic" height="50" width="50"/>
        <h2> @item.Title</h2>
        <p>@item.ImageFileName</p>
        

    }
}