@using Neo4j
@model List<Song>
<h2>Uploads</h2>

@*@{
   
   // var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }

   // <img src = "@imgSrc" />*@

@{ 
    foreach (var item in Model)
    {
        var base64 = Convert.ToBase64String(item.image);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        <img src=imgSrc/>
        <h2> @item.Title</h2>
        <p>@item.ImageFileName</p>
        

    }
}