
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("UploadSong", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <label>
        <span>Title :</span>
        <input id="Title" type="text" name="Title" placeholder="some name" required />
    </label>
    <br>
    <span>Image (JPG):</span>
    <input type="file" name="image" />
    <span>Song (MP3):</span>
    <input type="file" name="file" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}
