@using Neo4j
@model List<Song>




<div id="wave"></div>
<div class="wrapper">
    <div id="muteUnmute" onclick="muteSound()">Mute</div>
    <div><input id="volumeSlider" type="range" min="0" max="1" value=".5" step=".01" onchange="volumeChanged(this.value)" /></div>
    <div onclick="rewind()">Rewind</div>
    <div onclick="fastForward()">Fast Forward</div>
    <div id="playPause" onclick="togglePlay()">Pause</div>
    <div onclick="speedUp()">Speed Up</div>
    <div onclick="slowDown()">Slow Down</div>
    <div onclick="restart()">Restart</div>
</div>

<p id="hidden" hidden>@ViewBag.show</p>

<div id="songList"></div>