@using Neo4j
@model List<Song>
@{
    ViewBag.Title = "Wall";
}


<h1>List off all songs</h1>

@{ 
    foreach (var item in Model)
    {
        <h3><a href="Song/@(item.Title)">@item.Title</a></h3>
        <img class="img-circle" src="~/Content/Images/@item.ImageFileName" height="150" width="150">
    }
}

