
@{
    ViewBag.Title = "Wall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wall</h2>
<ul class="nav nav-tabs">
    <li class="active"><a href="#">Wall</a></li>
    <li><a href="#">Charts</a></li>
</ul>

