
@{
    ViewBag.Title = "Wall";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#wall">Wall</a></li>
    <li><a data-toggle="tab" href="#charts">Charts</a></li>
</ul>

<div class="tab-content">
    <div id="wall" class="tab-pane fade in active">
        <h3>Wall</h3>
        <div id="rectangle">
            <img src="~/Images/musicComposition.png" class="img-rounded" alt="MusicNote">
        </div>
    <div id="charts" class="tab-pane fade">
        <h3>Charts</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    
    </div>
</div>

